.App {
  text-align: center;
}

#mainFrame {
  width: 100vw;
  height: 70vh;
  background-color: black;
}

.leftSection {
  width: 30%;
  height: 35%;
  background-color: red;
  position: absolute;
  top: 65%;
  left: 0;
}

.middelSection {
  width: 40%;
  height: 30%;
  position: absolute;
  top: 70%;
  left: 30%;
  background-color: blue;
}

.rightSection {
  width: 30%;
  height: 35%;
  background-color: red;
  position: absolute;
  top: 65%;
  right: 0;
}